*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


#cards{
  width: 85%;
display: flex;
flex-wrap: wrap;
margin: 0 auto;

}

.card{
  flex: 7% 1 1;
  height: 8vw;
  border: 2px solid #e0e0e0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 2px;
}

.card img {
  max-width: 30%;
  align-self: center;
}

.card p{
  font-size: 10px;
  margin: 5px;
}

.card p:last-child{  
  transform: rotate(180deg);
}

.back{
  background: url("https://assets-lighthouse.alphacamp.co/uploads/image/file/9222/ExportedContentImage_00.png");
  background-size: cover;
}

.paired{
  background-color: #dae0e3;
}

#header {
  display: flex;
  margin: 20px auto;
  flex-direction: column;
  width: 85%;
  align-items: end;
}

#header .title{
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
}

#header .title img{
  max-width: 3em;
}

#header .title h2{
padding-left: 0.5em;
}

.wrong {
  animation: wrongAnimation 0.2s ;
  animation-iteration-count: 5;
}
@keyframes wrongAnimation {
  100% {
    border: 2px solid #f1c232;
  }
}

.completed {
  background-color: rgba(101, 38, 11, 0.8);
  width: 100vw;
padding: 50px;
  position: absolute;
  top: 33vh;
  
}

.completed > p{
  font-size: 1.5em;
  color: #fff;
  text-align: center;
}

.completed > p:first-child{
  font-size: 3em;
  font-weight: 700;
}